.input {
  width: 100%;
  color: #000000;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  outline: none;
}

.errMsg {
  color: #ff4e4e;
}

.signUpBtn {
  background-color: #e7a809;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #000000 inset !important; 
  box-shadow: 0 0 0 1000px transparent inset !important; 
  -webkit-text-fill-color: #000000 !important; 
  transition: background-color 5000s ease-in-out 0s !important; 
}
